.portal{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/src/assets/evercarebg.svg');
    background-size: cover;

}

.portalNode{
    width: 90%;
    height: 90vh;
    background-color:#E8F0FE;
    display: flex;
    position: relative;
}

.topbar{
    width: 100%;
    height: 10%;
    background-color: var(--evercare-darkblue);
    color: white;
    position: absolute;
    display: flex;
    align-items: center;

}

.tLeft,.tRight{
    display: flex;
    align-items: center;

}
.tLeft{
    width: 60%;
}
.tRight{
    width: 40%;
    padding: 0px 20px;
    justify-content: flex-end;
    align-items: center;
}

.tWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.userWrapper{
    width: 60%;
    
}
.homeWrapper{
    width: 40%;
}






.navbar{
    width: 20%;
    height: 90%;
    background-color: #222D32;
    position: absolute;
    top: 10%;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}