.portal{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/src/assets/evercarebg.svg');
    background-size: cover;

}

.portalNode{
    width: 90%;
    height: 90vh;
    background-color:#E8F0FE;
    display: flex;
    position: relative;
}

.topbar{
    width: 100%;
    height: 10%;
    background-color: var(--evercare-darkblue);
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

}

.tLeft,.tRight{
    display: flex;
    align-items: center;

}

.ppText{
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 100px;
}
.tLeft{
    width: 65%;
    height: 100%;
    display: flex;

}

.evercare{
    margin-right: 20px;
}
.tRight{
    width: 25%;
    height: 100%;
    padding: 0px 20px;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    position: relative;
}

.tWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 100%;
    cursor: pointer;
}
.userWrapper{
    width: 70%;
}

.userIcon{
    font-size: 2rem;
}

.home, .user{
    font-size: 0.9rem;
}

.userPopUp{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 100%;
    right:-20px;
    border: 1px solid white;
    background-color: var(--evercare-darkblue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    
}

.popUpIcon{
    margin-top: 10px;
    font-size: 7rem;
    margin-bottom: 15px;
}

.userName{
    font-size: 1.5rem;
}
.userAge{
    font-size: 0.8rem;
}









.navbar{
    width: 20%;
    height: 90%;
    background-color: #222D32;
    position: absolute;
    top: 10%;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainArea{
    width: 80%;
    height: 90%;
    position: absolute;
    left:20%;
    top:10%;
}